<h1>Products in {{ category.title }}</h1>

<ul>
    {% for product in products %}
        <li>
            <a href="{% url 'product_detail' product.product_id %}">{{ product.name }}</a>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Quantity: {{ product.quantity }}</p>
            <p>Overall Worth: ${{ product.overall_worth }}</p>

            {% if product.product_image %}
                <img src="{{ product.product_image.url }}" alt="{{ product.name }}" style="width: 100px; height: auto;">
            {% endif %}
          {% if product == most_expensive %}
                <strong style="color: red;">Most Expensive Product!</strong>
            {% elif product == cheapest %}
                <strong style="color: green;">Cheapest Product!</strong>
            {% endif %}
        </li>
    {% empty %}
        <p>No products found in this category or its subcategories.</p>
    {% endfor %}
</ul>

<p><strong>Average Price of Products: </strong>${{ average_price }}</p>
<p><strong>Total Worth of Products in this Category: </strong>${{ overall_worth }}</p>
{#<a href="{% url 'categories' %}">Back to Categories</a>#}
