<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category.title }} Products</title>
</head>
<body>
    <h1>Products in {{ category.title }}</h1>
    <ul>
        {% for product in products %}
            <li>
                <strong>{{ product.name }}</strong>: {{ product.description }} - ${{ product.price }}
                {% if product.product_image %}
                    <img src="{{ product.product_image.url }}" alt="{{ product.name }}" width="100">
                {% endif %}
            </li>
        {% empty %}
            <li>No products available in this category.</li>
        {% endfor %}
    </ul>
{#     <a href="{% url 'categories' %}">Back to categories page</a>#}
</body>
</html>