<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Product id: {{ product.product_id }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Image: <img src="{{ product.product_image.url }}" alt="{{ product.name }}"></p>
    <p>Categories:
        <ul>
            {% for category in product.categories.all %}
                <li>{{ category.title }}</li>
            {% endfor %}
        </ul>
    </p>
    <p>Overall Worth: {{ product.overall_worth }}</p>
{#    <a href="{% url 'category_products' product.categories.first.id %}">Back to Category</a>#}
</body>
</html>
